@using System.Web.Mvc
@model ApnaKaryala.DTO.LeaveManagement.LeaveDetailsDto
@{
    ViewBag.Title = "ApplyLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <div class="modal-body">
                @Html.Partial("_AddNewLeave")
            </div>
       


<!-- /Delete Leave Modal -->
<script src="~/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="~/assets/js/jquery.slimscroll.min.js"></script>

<!-- Select2 JS -->
<script src="~/assets/js/select2.min.js"></script>

<!-- Datetimepicker JS -->
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

<script>

    jQuery('.datetimepicker').datetimepicker({
        format: 'MM/DD/YYYY'
    });
</script>